.VisualizationContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}

.CanvasContainerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 8rem);
  max-height: 800px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.CanvasContainer {
  display: flex;
  width: 80%;
  height: 100%;
  max-height: 80vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.Canvas {
  background: black;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border-color: #fff;
  border: 1px solid var(--primary);
}

.Heading {
  font-size: 50px;
  width: 60%;
  color: white;
}

.Description {
  font-size: 14px;
  width: 90%;
  background-color: black;
}

.DescriptionContainer{
  background-color: black;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Heading {
    font-size: 30px;
    width: 90%;
  }

  .Description {
    font-size: 14px;
    width: 90%;
    background-color: black;
  }
  
}
