.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 10px;
}

.dropdown {
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.dropdown:hover {
  background-color: #333;
}

.dropdown-label {
  color: white;
  font-size: 18px;
}

.generate-button {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: #000;
  padding: 10px 25px;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px;
}

.toggle-pollutant-model-button {
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  background-color: #000;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 20px;
}

.dropdown-button {
  color: white;
  padding: 12px;
  font-size: 16px;
  border: 1px;
  cursor: pointer;
}

.generate-button:hover {
  color: black;
  background-color: white;
}

.toggle-pollutant-model-button:hover {
  color: black;
  background-color: white;
}

@media (max-width: 768px) {
  .main-container {
    height: auto;
    padding: 20px 0;
  }

  .container {
    flex-direction: column;
  }

  .dropdown {
    font-size: 16px;
    margin: 10px;
    padding: 6px 10px;
    background-color: rgb(60, 60, 60);
  }

  .generate-button {
    font-size: 20px;
    padding: 8px 20px;
    margin: 0px;
  }

  .toggle-pollutant-model-button {
    font-size: 14px;
    padding: 6px 10px;
    margin: 10px;
  }
}
