.App {
  width: 100%;
  max-width: 100%;
  height: 100%;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* make thumb semi-transparent */
}

.DescriptionContainer {
  background-color: black;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.DescriptionContainer2 {
  background-color: black;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.AboutContainer {
  background-color: black;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Heading {
  color: #fff;
  font-size: 80px;
  margin-top: 1px;
}

.Description {
  padding-top: 20px;
  font-size: 16px;
  width: 60%;
  color: white;
}

.CanvasBox {
  background: white;
  height: 1000vh;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: purple;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


    
    /* Mobile Styles */
    @media (max-width: 768px) {
    
  .Heading {
    font-size: 30px;
    width: 90%;
  }

  .Description {
    font-size: 14px;
    width: 90%;
    background-color: red;
  }

    
    .home,
    .services,
    .products,
    .sign-up {
    font-size: 2rem;
    }
    
    .services,
    .products,
    .sign-up {
    font-size: 50px;
    }
    
    .help-page h1 {
    font-size: 2rem;
    }
    
    .demo-container h2,
    .instructions-container h2 {
    font-size: 1.5rem;
    }
    
    .instructions-container ol {
    font-size: 1rem;
    }
    }

    @media screen and (max-width: 768px) {
      .DescriptionContainer, .DescriptionContainer2, .AboutContainer {
        height: auto;
        padding: 20px 0;
      }
    }
    
    .Heading {
      color: #fff;
      font-size: 80px;
      margin-top: 1px;
    }
    
    .Description {
      padding-top: 20px;
      font-size: 16px;
      width: 60%;
      color: white;
    }
    
    @media screen and (max-width: 768px) {
      .Description {
        width: 80%;
      }
    }
    
    .CanvasBox {
      background: white;
      height: 1000vh;
      width: 100%;
    }
    
    .App-logo {
      height: 40vmin;
      pointer-events: none;
    }